.first-col {
  border: 8px solid #fc5185;
  position: relative;
  height: 79vh;
  width: 50%;
}

.second-row-main-div {
  padding: 20px;
  background-color: #f2f6fc;
  justify-content: center;
  position: absolute;
  left: 513px;
  top: 44px;
  width: 50%;
  box-shadow: 4px 6px 10px 4px rgba(170, 170, 170, 0.4);
}
.first-part-col2 {
  border: 8px solid #212832;
  position: relative;
  height: 79vh;
  width: 50%;
  left: 520px;
  /* right: 0; */
}
.second-part-row2-main-div {
  padding: 40px;
  background-color: #f2f6fc;
  justify-content: center;
  position: absolute;
  right: 467px;
  bottom: -330px;
  width: 50%;
  box-shadow: 4px 6px 10px 4px rgba(170, 170, 170, 0.4);
}
.heading-company-2-1 {
  padding: 5px 0px 0;
}
.heading-company-2-2 {
  padding: 5px 0px 5px 0;
}
.heading-company-1-1 {
  padding: 5px 0px 5px 0;
}
.heading-company-1-2 {
  padding: 5px 0px 5px 0;
}
@media (max-width: 786px) {
  .second-row-main-div {
    padding: 20px;
    background-color: #f2f6fc;
    justify-content: center;
    position: absolute;
    left: 513px;
    top: 44px;
  }
  .first-col {
    border: 5px solid #fc5185;
    position: relative;
    height: 50vh;
    width: 50%;
  }
}
